__pycache__/
.idea/

# Dataset files.
datasets/7scenes_*
datasets/12scenes_*
datasets/Cambridge_*
datasets/wayspots_*
datasets/pgt_*
datasets/visloc_pseudo_gt_limitations
datasets/*

*.lprof
*.png
test/*
*.pdf
*.json
test3/*
labels_test/*
labels_train/*
roma/*
*.mp4
*.sh
*.npy

analyze_clusters.py
clustering.py
test_attribution.py
trainer2.py
trainer3.py
trainer_4.py
trainer5.py
trainer6.py
trainer_debug.py
vae_test.py
verify_roll.py
main_7scenes.py
visualize_codebook.py

# Outputs.
output/
outputs/

ace_models.tar.gz
ace_models/*
dsacstar/build
dsacstar/dist
dsacstar/dsacstar.egg-info